@media screen and (min-width: 760px) {
    .flex.main-content {
        flex-direction: row-reverse;
    }
    .map {
        transform: translateX(-100%);
    }
    .weather-n-loc-container {
        margin: 1.5rem;
        flex: 1;
        height: 100%;
    }
    body.open-modal .modal {
        width: 300px;
        height: 300px;
    }
    body.open-modal .create-location {
        width: 250px;
        height: 250px;
    }
}
